{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3 align-items-center">
      <div class="col-md-6 mx-auto mb-3">
        <header class="masthead bg-index text-white text-center py-4">
          <h2>About</h2>
        </header>
        <p class="about">
           At Movies Store, we offer a vast digital library
           that spans across genres, ensuring there's
           something for every movie lover. Browse our
           extensive collection of films, including the
           latest releases, timeless classics, and hidden
           gems. With just a few clicks, you can rent or
           purchase your favorite titles and instantly
           stream them in high-definition quality.
        </p>
        <p class="about">
          Discover the convenience of our digital platform,
          where you have the flexibility to watch movies
          on your preferred device, whether it's a smart
          TV, tablet, or smartphone. With our intuitive
          search and recommendation features, finding your
          next movie night pick has never been easier.
        </p>
          <h4> Cooper Grant </h4>
          <h6>Front-end, Scrum Master</h6>
          <p class="about">Worked on the appearance of most of the pages and deployed the application to the Cloud, allowing it to be public to anyone</p>
          <h4> Cade Wooten </h4>
          <h6>Back-end, Product Owner</h6>
          <p class="about">Created the github of the project, added user registration and log-in features, implemented ability to add/remove movies to cart, and implemented basic log-out feature</p>
          <h4> Dylan Paige </h4>
          <h6>Full-stack, Developer</h6>
          <p class="about">Fixed issues found on movie details page, implemented the pages that allow user to make purchases and orders</p>
          <h4> Jiwon Ahn </h4>
          <h6>Front-end, Developer</h6>
          <p class="about">Creating models for movie page, added superuser feature, made movie list, and implemented feature that allows user to order items.</p>
          <h4> Kylie Self </h4>
          <h6>Back-end, Developer</h6>
          <p class="about">Created the basic pages for the site: About and Movie page, implemented features that allow users to create, read, update, and delete reviews on a specific movie</p>
        
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <br>
        <img src="{% static 'img/Georgia_Tech_Buzz_logo.png' %}" class="img-fluid rounded" alt="About Movies Store" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}
