.bg-index{
  background: url("/static/img/background.jpg") no-repeat fixed;
  background-size: 100% auto;
}

h2 {
  text-align: center;
  margin: auto;
  width: 25%;
  border: 3px solid rgb(0, 0, 81);
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(0, 0, 81);

  font-size: 100px;
  font-family: "Impact", fantasy;
  font-variant: small-caps;
  font-stretch: ultra-expanded;

  color: #FFFEF6;
  display: block;
}

.col {
  text-align: center;
}

p {
  color: #ffffff;
  text-align: center;
  font-size: x-large;
}

p.about {
  color: #1900ff;
  text-align: center;
  font-size: large;
}

a.nav-link {
  color: #996eff;
  text-align: center;
}

b {
  text-align: center;
  margin: auto;
  width: 25%;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(0, 0, 0);

  color: white;
  font-size: x-large;
}

.navbar a.nav-link {
  color: #996eff !important;
  text-align: center;
}

.bg-dark {
  background-color: #2E2E2E !important;
}

.ms-footer {
  background-color: #202020;
}

.ms-footer p {
  color: #7F7F7F;
  font-size: 13px;
}

.ms-footer a:hover {
  color: #ffffff;
  text-decoration: none;
}

.ms-footer-bottom span{
  font-size: 13px;
  line-height: 38px;
}

.ms-footer-bottom a {
  color: #996eff;
  text-decoration: none;
}

.ms-footer-bottom a:hover {
  color: #fff;
}

.img-card-200 {
  width: fit-content;
  max-height: 200px;
}

.img-card-400 {
  width: fit-content;
  max-height: 400px;
}
